# Dependencies
/node_modules
/package-lock.json
/dist

# IDE
.vscode
/.idea

# Build
/dist
/build

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log
npm-debug.log*

# System Files
.DS_Store
Thumbs.db